{
    "env": {
        "es6": true,
        "node": true
    },
    "plugins": [
        "node",
        "security"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:node/recommended",
        "plugin:security/recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 2017
    }
}